/* custom styles */

.header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.home_text {
    font-size: 26px;
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 160px;
    background: rgba(0,0,0,0.2);
    margin-right: 100px;
}

.home_content_container .container { margin-top: 80px; }

/* petition boxes */
.intro_body {
    padding: 30px 39px;
    height: 100%;
    position: absolute;
}

.intro_item {
    min-height: 420px;
    overflow: hidden;
}